<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
{% if app.session.flashbag.has('success') %}
    <div class="alert alert-success">
        {% for msg in app.session.flashbag.get('success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}
{% block body %}{% endblock %}
</html>
